export DIRENV_WARN_TIMEOUT='10s'
export DIRENV_LOG_FORMAT=""

source_env "$HOME"
source_env_if_exists ./env/.envrc
export PATH="${GOPATH}/bin:${PATH}"

# This is set for local kind/minikube config to avoid touching the main kubeconfig
# Loaded by direnv, this should be pulled automatically by Mage tasks, if direnv is correctly setup.
export KUBECONFIG=.cache/config

# Default Testing configuration for local dev work
export DSV_CREDENTIALS_ANNOTATION_VALUE='app1'
export DSV_K8S_TEST_SECRET_PATH='k8s:sync:test'
