---
apiVersion: v2
name: dsv-syncer
description: |
  A Helm chart for the Delinea DevOps Secrets Vault (DSV) Kubernetes Synchronizer Job.

  ```shell
  NAMESPACE='dsv'
  IMAGE_REPOSITORY='docker.io/delineaxpm/dsv-k8s'
  IMAGE_TAG='v1.2.3' # use latest for test, but pin to a specific version for production

  helm install \
      --namespace $NAMESPACE \
      --create-namespace \
      --set image.repository=${IMAGE_REPOSITORY} \
      --set image.tag=${IMAGE_TAG} \
      --atomic \
      --timeout "5m" \
      --debug \ # optional --values  --values .cache/charts/dsv-injector/values.yaml \
      dsv-syncer ./charts/dsv-syncer
  ```
keywords:
  - Delinea
  - DevOps
  - DSV
  - secrets
  - vault
type: application
version: v1.2.3
appVersion: latest
maintainers:
  - name: Sheldon Hull
  - name: Delinea DSV Team
