---
# Default values for the Delina DevOps Secrets Vault (DSV) Secrets Injector
# Kubernetes API Server Mutating Webhook.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# -- replicaCount
# @default - 1
replicaCount: 1

image:
  repository: docker.io/delineaxpm/dsv-k8s
  # -- pullPolicy is the image pull policy.
  # If running locally built images, you'll want to set to Never to ensure local loaded images are used.
  # @default -- IfNotPresent
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  # @default -- the current app version/chart version
  tag: ''
  # -- Entrypoint is the path to the binary. Since the container image could contain multiple binaries, this makes sure it's correctly mapped to the binary.
  entrypoint: /app/dsv-syncer

imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''

serviceAccount:
  # -- Specifies whether a service account should be created
  # @default - true
  create: true
  # -- Annotations to add to the service account
  # @default - Adds `dsv-filter-name` to simplify log selector streaming
  annotations: {}
  # -- The name of the service account to use.
  # -- If not set and create is true, a name is generated using the fullname template
  name: ''

# -- default annotations to add
# @default - Adds `dsv-filter-name` to simplify log selector streaming
podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

# -- securityContext is the security context for the controller.
# This uses chainguard static nonroot based image.
# Reference: https://edu.chainguard.dev/chainguard/chainguard-images/reference/static/overview/
securityContext:
  # -- readOnlyRootFilesystem is the read only root file system flag.
  # @default -- true
  readOnlyRootFilesystem: true
  # -- runAsNonRoot is the run as non root flag.
  # @default -- true
  runAsNonRoot: true
  # -- runAsUser is the run as user.
  # @default -- 65532 (from chainguard static image)
  runAsUser: 65532
  # -- runAsGroup is the run as group.
  # @default -- 65532 (from chainguard static image)
  runAsGroup: 65532
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# @default -- No default values, user must specify to set resource limits.
resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- dsvInjectorCredentialsSecretName is the name of thecredentialsJson secret from the dsv-injector
dsvInjectorCredentialsSecretName: dsv-injector-credentials

# -- cronJobSchedule controls when the syncer runs; five asterisks means "every minute".
# See [cronjob](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-schedule-syntax)
# @default - every minute, ie '* * * * *'
cronJobSchedule: '* * * * *'

# -- configmap are configuration values for the app to load.
# All of these are defaulted in the template itself and only need be set if adjusting.
# Since the user for the container is nonroot, only edit if you know what you are doing.
# Boolean values should be passed quoted to avoid issues.
# @default -- {} empty.
configmap:
  {}
  # DSV_DEBUG: true  # Warning: if passing boolean, use quoted string to avoid issues
